/* ============= Root Variables ============= */
:root {
  --background-color: #F5F5F5;
  --text-color: #000000;

  --transition-delay-short: 0.25s;
  --transition-delay-medium: 1s;
  --transition-delay-long: 2s;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 90vh;
  background-color: var(--background-color);
  transition: background-color var(--transition-delay-medium) ease; 
}

h1 {
  opacity: 1;
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-color); 
  transition: color var(--transition-delay-medium) ease, opacity var(--transition-delay-long) ease; 
}

.transition-h1 {
  opacity: 0; 
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-color); 
  transition: opacity var(--transition-delay-long) ease, color var(--transition-delay-short); 
}


.emoji-icon img {
  opacity: 1;
  width: 100px;
}

.transition-emoji-icon img {
  opacity: 0;
  width: 100px;
  transition: opacity var(--transition-delay-medium) ease;
}

.btn-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 80px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform var(--transition-delay-medium) ease, background-color var(--transition-delay-medium) ease;
}

.btn-card.slide-down {
  transform: translateY(300px); 
  background-color: #FFC0CB; 
}

button {
  border-radius: 8px;
  
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #FFFFFF;
  cursor: pointer;
  transition: border-color var(--transition-delay-short), transform var(--transition-delay-short);
}

button  i{
  margin-right: 10px;

}

button:hover {
  border-color: #646cff;
  transform: scale(1.05); 
}

button:focus,
button:focus-visible {
  outline: 40px auto -webkit-focus-ring-color;
}

.nav-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #FFFFFF;
  cursor: pointer;
  margin: 0 10px;
  transition: transform var(--transition-delay-short);
}

.nav-button:hover {
  transform: scale(1.1); 
}